* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */
.banner {
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
}

.banner-content {
    text-align: right;
    padding: 180px 150px 360px 700px;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 0;
}

.contact-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px;
}

.contact-btn:hover {
    cursor: pointer;
}

/*Failure section styles */
.failure-prev-yr {
    display: flex;
    align-items: center;
    margin: 130px 200px;
}

.content {
    padding-top: 100px;
}

.content-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.content-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
}

.content-list {
    color: #444343;
    font-weight: 400;
    font-size: 16px
}

/* Plans container styles */

.plan-title {
    text-align: center;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.palns-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
}

.container-title {
    color: #151414;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}

.container-dsc {
    color: #737272;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.plans-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

/* Mindset section styles */
.mindset {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-blend-mode: multiply;
    border-radius: 8px;
    height: 300px;
    margin: 130px 230px;
}

.mindset {
    padding-left: 60px;
    padding-right: 400px;
}

.mnd-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.mnd-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 20px 35px;
}

/* Footer styles */
.footer-box {
    background-color: #151414;
    /* width: 1600px;
    height: 577px; */
    display: flex;
    justify-content: space-between;
    padding: 50px 230px;
}

.future h4 {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 5px;
}

.future p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-right: 200px;
}

.icons {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.subscribe h5 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 10px;
}

.subscribe input {
    width: 325px;
    height: 40px;
    background-color: #151414;
}

.subscribe input::placeholder {
    color: #F8F8F8;
    font-size: 12px;
}

.btn-subs {
    width: 170.11px;
    height: 40px;
    background: #005FAC;
    border-radius: 8px;
    margin-top: 10px;
}